* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.leftcolumn {
    width: 30%;
    float: left;
}

.rightcolumn {
    width: 70%;
    float: right;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 5px solid #C3DF0E;
    background-color: white;
    padding: 20px;
    margin-top: 20px;

}

article {
    width: 33%;
    vertical-align: top;
    text-align: match-parent;
    display: inline-block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: rgb(153, 153, 153);
}

.footerlink {
    text-decoration: none;
    padding: 5px;
    color: white;
}

#copyright {
    position: relative;
    text-align: center;
    padding-bottom: 5px;
}

@media screen and (max-width: 400px) {
    .leftcolumn, .rightcolumn, .image {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}