* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.leftcolumn {
    width: 30%;
    float: left;
}

.rightcolumn {
    width: 70%;
    float: right;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 5px solid #C3DF0E;
    background-color: white;
    padding: 20px;
    margin-top: 20px;

}

article {
    width: 33%;
    vertical-align: top;
    text-align: match-parent;
    display: inline-block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: rgb(153, 153, 153);
}

.footerlink {
    text-decoration: none;
    padding: 5px;
    color: white;
}

#copyright {
    position: relative;
    text-align: center;
    padding-bottom: 5px;
}

@media screen and (max-width: 400px) {
    .leftcolumn, .rightcolumn, .image {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: white;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: #C3DF0E;
}

.valid:before {
    position: relative;
    /*left: -35px;*/
    /*content: "&#10004";*/
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: #FF6F83;
}

.invalid:before {
    position: relative;
    /*left: -35px;*/
    /*content: "&#10006";*/
}