* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background: #f1f1f1;
}

.header {
    border: 5px solid #C3DF0E;
    width: 100%;
    height: 300px;
    background-size: cover;
    padding: 30px;
    background: white;
}

.topnav {
    overflow: hidden;
    background-color: #C3DF0E;
}
.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.leftcolumn {
    width: 30%;
    float: left;
}

.rightcolumn {
    width: 70%;
    float: right;
}

.card {
    border: 5px solid #C3DF0E;
    background-color: white;
    padding: 20px;
    margin-top: 20px;

}

article {
    width: 33%;
    vertical-align: top;
    text-align: match-parent;
    display: inline-block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: rgb(153, 153, 153);
}

.footerlink {
    text-decoration: none;
    padding: 5px;
    color: white;
}

#copyright {
    position: relative;
    text-align: center;
    padding-bottom: 5px;
}

@media screen and (max-width: 400px) {
    .leftcolumn, .rightcolumn, .image {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}