* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
}

/* Float four columns side by side */
.column1 {
    margin-top: 50px;
    float: left;
    width: 20%;
    padding: 0 10px;
}

/* Float four columns side by side */
.column2 {
    margin-top: 50px;
    float: left;
    width: 100%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    border: 1px solid #C3DF0E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
}

.card1 {
    position: relative;
    border-radius: 50px;
    border: 1px solid #FF059B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
    height: 200px;
}

.card2 {
    border: 2px solid #FF059B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
}

.card .active1{
    border: 5px solid #FF6F83;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.h3 {
    position:absolute;
    padding: 30px;
    bottom:0;
    right:0;
}

h3 {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.p {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

hr.solid {
    border-top: 1px solid black;
    margin-left: 20px;
    margin-right: 50px;

}

.button {
    margin-top: 20px;
    margin-left: -20px;
    float: left;
    background-color: #FF6F83;
    width: 500px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
